#####
##### PROD
##### podverse-serverless
#####

# NOTE:
# Use lowercase true to enable properties.
# Leave value blank or comment out to disable properties.

#####
##### App / General
#####

USER_AGENT=

#####
##### AWS
#####
### AWS is used for our RSS parsing queue (SQS) and image uploads (S3)

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
AWS_IMAGE_S3_BUCKET_NAME=
AWS_IMAGE_CLOUDFRONT_ORIGIN=

# Size in pixels of square images we upload to S3 (aka podcast.shrunkImageUrl)
IMAGE_SHRINKER_IMAGE_SIZE=800

#####
##### Datebase / ORM
#####

DB_TYPE=postgres
DB_HOST=podverse_db
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=
DB_DATABASE=postgres
DB_SSL_CONNECTION=

#####
##### Google / FCM
#####
### We use FCM to send push notifications.

GOOGLE_AUTH_TOKEN=

#####
##### Manticore
##### 
### Manticore is the self-hosted search engine we use to query
### for podcasts, episodes, and mediaRefs by title.
### We could really use help improving our Manticore setup tbh...

MANTICORE_DOMAIN=podverse_manticore
MANTICORE_PORT=9308
MANTICORE_PROTOCOL=http

#####
##### Website related
#####
### NOTE: these are for the *public facing* IP addresses,
### not the internal Docker service network or private IP addresses.

WEBSITE_PROTOCOL=http
WEBSITE_DOMAIN=localhost:3000

#####
##### Clipbot (special user id)
#####
### This id corresponds with a user ID in the database
### that generates mediaRefs (clips aka soundbites, and chapters)
### from RSS <podcast:soundbite> tags.
### The id below corresponds with the id of the "Podverse Clipbot" user
### in the old-sample-database.sql file. In prod, you'll need a different user id.
# SUPER_USER_ID=kOJGv2oGF
### in the qa-database.sql file. In prod, you'll need a different user id.
# TODO: We should try to get rid of SUPER_USER_ID entirely!
# More Info: https://github.com/podverse/podverse-api/issues/569
SUPER_USER_ID=
